@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;

}

#stop_name {
  width: 100%;
  border-bottom: 2px black solid;
  font-size: 2em;
}
#times {
  display:table;
  table-layout: fixed;
   width: 100%;
  font-size: 1.5em;
  border-collapse:collapse

}
.greyed {
  color: grey;
}
#times > tr {
  width: 100%;
  border-bottom: 1px black solid;
}

#times > tr > td:nth-of-type(2) {

  text-align: center;
  border-bottom: 1px black solid;

}

.vid, .ls {
  font-size: 0.7em;
}

.vid {
}