@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#stop_name {
  width: 100%;
  border-bottom: 2px black solid;
  font-size: 2em;
  padding-left: 0.2em;
}
#times {
  display:table;
  table-layout: fixed;
   width: 100%;
  font-size: 1.5em;
  border-collapse:collapse

}
.greyed {
  color: grey;
}
#times > tr {
  width: 100%;
  border-bottom: 1px black solid;
}

#times > tr > td:nth-of-type(1) {
  width: 25%;
  font-size: 1.5em;
  min-width: 10em;
}

#times > tr > td:nth-of-type(1) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


#times > tr > td:nth-of-type(2) {
  font-size: 0.7em;
  width: 29%;

  text-align: center;

}

#times > tr > td > div:nth-of-type(2) {
  font-size: 0.8em;

  text-align: center;

}

.lsdesc {
  font-size: 0.6em;
}

#times > tr > td:nth-of-type(3) {
  text-align: center;
  font-size: 1.5em;
  width: 23%;
}

#times > tr > td:nth-of-type(4) {
  font-size: 0.8em;
  text-align: center;
  width: 23%;
}

.vid, .ls {
  font-size: 0.7em;
}

.vid {
}

#times > tr > td:nth-of-type(3) > .distance {
  font-size: 0.5em;
}

#mapdiv {
  height: 0%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  opacity: 0.8;
}

.numcircle {
  height: 1em;
  width: 1em;
  font-size: 0.5em;
  background-color: red;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numcircle span {
  color: white;
  display: inline-block;

}

.busNoMap {
  height: 5em;
  font-size: 6em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pointer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  
}

.pointer > div {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  
  border-bottom: 10px solid red;
}
@media only screen and (min-width: 600px) {
  .numcircle {
    font-size: 1em;
  }


#times > tr > td:nth-of-type(1) {
  font-size: 1.8em;
}
.busNoMap {
  font-size: 2em;
}
}